@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 40);
  color: white;
  font-family: "Mali", cursive;
  min-height: 100vh;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.auth {
  background: white;
  color: black;
  width: 60vw;
  max-width: 600px;
  height: 50vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @media (max-width: 700px) {
    width: 90vw;
  }

  .auth-p {
    font-weight: 600;
  }

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background: rgb(0, 0, 40);
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: rgba(0, 0, 40, 0.8);
    }
  }

  img {
    width: 30px;
  }
}

.room-page {
  background: white;
  color: rgb(0, 0, 40);
  padding: 50px 60px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  input {
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 40, 0.3);
    border-radius: 8px;
  }

  button {
    &:last-child {
      background: crimson;
    }
  }
}

// genel buton
button {
  background: rgb(0, 0, 40);
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  transition: all 0.3s;

  &:hover {
    filter: brightness(60%);
  }
}

.chat-page {
  background: white;
  height: 70vh;
  width: 70vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  overflow: hidden;

  @media (max-width: 700px) {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}

.chat-page header {
  background: #4d4c7d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  button {
    background: #f99417;
  }
}

.chat-page form {
  background: #4d4c7d;
  display: flex;
  justify-content: center;
  padding: 14px;
  gap: 20px;

  input {
    width: 56%;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    box-shadow: 2px 2px 4px rgb(0, 0, 40);
  }

  button {
    background: #f99417;
  }
}

.chat-page main {
  // bütün alanı kaplasın istedik
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
  padding: 10px;

  &::-webkit-scrollbar {
    background: transparent;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #f99417;
    border-radius: 5px;
  }
}

.msg-other {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;

  .user-info {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      width: 40px;
      border-radius: 50%;
    }

    span {
      font-weight: bold;
    }
  }
}

.msg-user {
  background: #f99417;
  // ekranın sağına al flex-end ile
  align-self: flex-end;
  padding: 4px 8px;
  border-radius: 7px 7px 0 7px;
}
